@font-face {
    font-family: 'Vazirmatn';
    src: local('Vazirmatn'),
         url(../fonts/Vazirmatn-Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Vazirmatn';
    src: local('Vazirmatn'),
         url(../fonts/Vazirmatn-Medium.woff2) format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Vazirmatn';
    src: local('Vazirmatn'),
         url(../fonts/Vazirmatn-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Vazirmatn';
    src: local('Vazirmatn'),
         url(../fonts/Vazirmatn-Bold.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'IranYekan';
    src: local('IranYekan'),
         url(../fonts/iranyekanwebregular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}
.content-around { content-visibility: auto; contain-intrinsic-size: 1px 5000px; }
